*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: lightcoral;
}

.search-options {
    width: 90%;
    max-width: 100vh;
    color: black;
    margin: 20px;
    border-radius: 20px;
    padding: 40px 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    width: 50%;
}

.search input {
    border: 0;
    outline: 0;
    background: grey;
    color: white;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search-options button {
    border: 0;
    outline: 0;
    background: grey;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.units button {
    background: none;
}

.search button img {
    width: 30px;
}

.units {
    width: 50%;
}

.error {
    text-align:left;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, lightgrey, rgb(255, 70, 70));
    border-width: 0.1px;
    border-style:solid;
    border-color: lightcoral;
    color: black;
    margin: 20px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.weather { 
    display: none;
}

.weather-icon {
    width: 250px;
    margin-top: 10px; 
}

.weather-icon h1 {
    font-size: 110px;
    font-weight: 500;
}

.weather-icon h2 {
    font-size: 70px;
    font-weight: 400;
    margin-top: -10px;
}


.img-description p {
    color: grey;
    margin-top: -30px;
    margin-bottom: 10px;
}

.details {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 15px;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 15px;
    margin-top: -5px;
}
